body {
    background-color: palevioletred;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 3rem;
    color: #fff;
    font-family: monospace;
    animation: brillar 1.5s infinite alternate;
}

@keyframes brillar {
    0% {
        text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000;
    }
    50% {
        text-shadow: 0 0 10px #ff4d4d, 0 0 20px #ff4d4d, 0 0 30px #ff4d4d, 0 0 50px #ff4d4d;
    }
    100% {
        text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000;
    }
}